<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-10</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon10</string>
				</array>
				<key>CFBundleIcons~ipad</key>
				<array>
					<string>icon10~ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-11</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon11</string>
				</array>
				<key>CFBundleIcons~ipad</key>
				<array>
					<string>icon11~ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-12</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon12</string>
				</array>
				<key>CFBundleIcons~ipad</key>
				<array>
					<string>icon12~ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-13</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon13</string>
				</array>
				<key>CFBundleIcons~ipad</key>
				<array>
					<string>icon13~ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-14</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon14</string>
				</array>
				<key>CFBundleIcons~ipad</key>
				<array>
					<string>icon14~ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-15</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon15</string>
				</array>
				<key>CFBundleIcons~ipad</key>
				<array>
					<string>icon15~ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-16</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon16</string>
				</array>
				<key>CFBundleIcons~ipad</key>
				<array>
					<string>icon16~ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-17</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon17</string>
				</array>
				<key>CFBundleIcons~ipad</key>
				<array>
					<string>icon17~ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-18</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon18</string>
				</array>
				<key>CFBundleIcons~ipad</key>
				<array>
					<string>icon18~ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-19</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon19</string>
				</array>
				<key>CFBundleIcons~ipad</key>
				<array>
					<string>icon19~ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon2</string>
				</array>
				<key>CFBundleIcons~ipad</key>
				<array>
					<string>icon2~ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-20</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon20</string>
				</array>
				<key>CFBundleIcons~ipad</key>
				<array>
					<string>icon20~ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon3</string>
				</array>
				<key>CFBundleIcons~ipad</key>
				<array>
					<string>icon3~ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon4</string>
				</array>
				<key>CFBundleIcons~ipad</key>
				<array>
					<string>icon4~ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon5</string>
				</array>
				<key>CFBundleIcons~ipad</key>
				<array>
					<string>icon5~ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-6</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon6</string>
				</array>
				<key>CFBundleIcons~ipad</key>
				<array>
					<string>icon6~ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-7</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon7</string>
				</array>
				<key>CFBundleIcons~ipad</key>
				<array>
					<string>icon7~ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-8</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon8</string>
				</array>
				<key>CFBundleIcons~ipad</key>
				<array>
					<string>icon8~ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-9</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon9</string>
				</array>
				<key>CFBundleIcons~ipad</key>
				<array>
					<string>icon9~ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon1</string>
			</array>
			<key>CFBundleIcons~ipad</key>
			<array>
				<string>icon1~ipad</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Mast</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.4</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.shi.mastodon</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>twitter</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Allow Mast to access your media to determine what song is currently playing.</string>
	<key>NSCameraUsageDescription</key>
	<string>Allow Mast to access your camera to capture pictures and videos for posting within toots.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Mast requires biometrics permission to authenticate with biometrics.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow Mast to access your microphone to capture sound in videos for posting within toots.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allow Mast to save images to your photo library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow Mast to access your photo library to display your recent pictures and videos for posting within toots.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.shi.Mast.oled</string>
		<string>com.shi.Mast.light</string>
		<string>com.shi.Mast.dark</string>
		<string>com.shi.Mast.confetti</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>toot</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string></string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Compose</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.shi.Mast.compose</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>profile</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string></string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Profile</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.shi.Mast.profile</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>notifications</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string></string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Notifications</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.shi.Mast.notifications</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>feed</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string></string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Timeline</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.shi.Mast.feed</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
